menu "Firmware Configuration"
    config DEFAULT_TIME_SERVER
        string "Default NTP time server"
        default "pool.ntp.org"
        help
            Sets the default NTP time server hostname/IP address to use if it is not configured in the NVS.
    
    config DEFAULT_MQTT_BROKER
        string "Default MQTT broker address"
        default "mqtt://melbtrains.mooo.com"
        help
            Sets the default MQTT broker address (including the schema) to use if it is not configured in the NVS.
    
    config METRO_UPDATES_FEED
        string "Metro train trip updates URL"
        default "https://api.opendata.transport.vic.gov.au/opendata/public-transport/gtfs/realtime/v1/metro/trip-updates"
        help
            Sets the GTFS Realtime feed URL for metropolitan train trip updates.
    
    config VLINE_UPDATES_FEED
        string "V/Line train trip updates URL"
        default "https://api.opendata.transport.vic.gov.au/opendata/public-transport/gtfs/realtime/v1/vline/trip-updates"
        help
            Sets the GTFS Realtime feed URL for regional (V/Line) train trip updates.

    config GTFSR_RESPBUF_INIT_LEN
        int "Initial GTFS Realtime API response buffer length"
        default 65536
        help
            Sets the initial size for the GTFS Realtime API response buffer.
    
    config GTFSR_RESPBUF_GROWTH
        int "GTFS Realtime API response buffer growth increment"
        default 4096
        help
            Sets the GTFS Realtime API response buffer growth increment in bytes.

    config GTFSR_RESPBUF_TEMP_LEN
        int "GTFS Realtime API response fragment buffer length"
        default 4096
        help
            Sets the GTFS Realtime API response fragment buffer length.

    config DEFAULT_MDNS_HOSTNAME
        string "Default mDNS hostname"
        default "melbtrains"
        help
            Sets the default mDNS hostname to use if it is not configured in the NVS.
    
    config DEFAULT_MDNS_INSTANCE_NAME
        string "Default mDNS instance name"
        default "Melbourne Train Tracker"
        help
            Sets the default mDNS instance name (user-friendly description) to use if it is not configured in the NVS.

    config MSG_STATION_PAD
        int "Station departure padding duration (sec)"
        range 0 60
        default 15
        help
            Sets the duration to add to the received departure time of a service in seconds.
    
    config PROMPT
        string "Configuration CLI prompt"
        default "config>"
        help
            Sets the prompt string for the configuration CLI.
    
    config MAX_CMDLINE_LENGTH
        int "Maximum configuration CLI command line length"
        range 0 512
        default 128
        help
            Sets the maximum command line length in the configuration CLI.
    
    config SERVICES_CAPACITY_GROWTH
        int "Services buffer growth step"
        range 1 50
        default 10
        help
            Sets the number of additional service objects allocated when Services::m_allStates is grown beyond the reserved size.
    
    config LMAT_STRICT_COLOUR_CHECK
        bool "Enable strict line colour checking"
        default n
        help
            When enabled, the LEDMatrix subsystem will check if the LED's colour matches the expected colour for the line it is on.
            If the colour does not match, abort() will be invoked, allowing for the detection of illegal memory reads.
            
    config SPI3_ONLY
        bool "Use SPI3 (VSPI) only"
        default n
        help
            Enable this if the board is wired to have all LED matrix drivers' SPI buses connected to SPI3/VSPI (GPIO 18/19/21).
            This allows the SPI2/HSPI pins to be used for JTAG debugging.
    
    config UPDATE_FLASH_LED
        bool "Flash activity LED during LED state updates"
        default y
        help
            When enabled, the activity LED will flash during the duration of LED state updates, in addition to MQTT message retrieval.
            This can be turned off if it is too distrcting.
    
    config UPDATE_INTERVAL
        int "LED state update interval (msec)"
        range 0 10000
        default 1000
        help
            The LED state update interval in milliseconds. This should be a multiple of 1000 (i.e. steps of 1 second).

    config HTTP_PORT
        int "HTTP server port"
        range 1 65535
        default 80
        help
            The status/management HTTP server's port.

endmenu
