menu "Firmware Configuration"
    config CONFIG_DEFAULT_TIME_SERVER
        string "Default NTP time server"
        default "pool.ntp.org"
        help
            Sets the default NTP time server hostname/IP address to use if it is not configured in the NVS.
    
    config CONFIG_DEFAULT_MQTT_BROKER
        string "Default MQTT broker address"
        default "mqtt://melbtrains.mooo.com"
        help
            Sets the default MQTT broker address (including the schema) to use if it is not configured in the NVS.

    config MSG_STATION_PAD
        int "Station departure padding duration (sec)"
        range 0 60
        default 15
        help
            Sets the duration to add to the received departure time of a service in seconds.
    
    config CONFIG_PROMPT
        string "Configuration CLI prompt"
        default "config>"
        help
            Sets the prompt string for the configuration CLI.
    
    config CONFIG_MAX_CMDLINE_LENGTH
        int "Maximum configuration CLI command line length"
        range 0 512
        default 128
        help
            Sets the maximum command line length in the configuration CLI.
    
    config SERVICES_CAPACITY_GROWTH
        int "Services buffer growth step"
        range 1 50
        default 10
        help
            Sets the number of additional service objects allocated when Services::m_allStates is grown beyond the reserved size.
    
    config LMAT_STRICT_COLOUR_CHECK
        bool "Enable strict line colour checking"
        default n
        help
            When enabled, the LEDMatrix subsystem will check if the LED's colour matches the expected colour for the line it is on.
            If the colour does not match, abort() will be invoked, allowing for the detection of illegal memory reads.
            
    config SPI3_ONLY
        bool "Use SPI3 (VSPI) only"
        default n
        help
            Enable this if the board is wired to have all LED matrix drivers' SPI buses connected to SPI3/VSPI (GPIO 18/19/21).
            This allows the SPI2/HSPI pins to be used for JTAG debugging.
    
    config UPDATE_FLASH_LED
        bool "Flash activity LED during LED state updates"
        default y
        help
            When enabled, the activity LED will flash during the duration of LED state updates, in addition to MQTT message retrieval.
            This can be turned off if it is too distrcting.
    
    config UPDATE_INTERVAL
        int "LED state update interval (msec)"
        range 0 10000
        default 1000
        help
            The LED state update interval in milliseconds. This should be a multiple of 1000 (i.e. steps of 1 second).
endmenu
